.flex-container {
  display: flex;
  justify-content: center;
}

.flexItem {
    flex: 1;
}
.flexStart {
    justify-content: flex-start;
}
.flexEnd {
    justify-content: flex-end;
}
.blueBackground {
    background: lightskyblue;
}
.nav {
    list-style: none;
}
.nav a {
    text-decoration: none;
    display: block;
    padding: 0 1em;
    color: white;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.floating-box {
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid ;  
}

.after-box {
    border: 3px solid red; 
}